<div id="navbar">
  <%= link_to lists_path, class: "navbar-brand" do %>
    <a><i class="fas fa-film"></i> The Rails WatchList</a>
  <% end %>
  <%= link_to "Home", lists_path %>
  <%= link_to "Create a list", new_list_path %>
</div>
