.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset_path('cover.jpg'));
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding-top: 40vh;
  text-align: center;
}

.banner span {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: normal;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.typed-js {
  min-height: 33.6px;
}
