// Flexbox
.cards-home-container {
  display: flex;
  margin: 13px;
}

.cards-home-container .cards {
  flex-grow: 1;
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-left: 10px;
}

// Responsiveness
@media(max-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 1024px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 600px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Card design
.card-home {
  background-size: cover;
  background-position: center;
  width: 16rem;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  transition: width 0.5s, margin 0.5s, box-shadow 0.5s, border 0.5s;
  &:hover {
    transition: width 0.5s, margin 0.5s, box-shadow 0.5s, border 0.5s;
    width: 17rem;
    margin: -5px;
    box-shadow: 0px 0px 20px 10px #000000;
    border: 2px solid #287ca6;
  }
}
