.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
}


.header-text-title {
  position: absolute;
  top: 22px;
  color: white;
}

.header-text-action {
  position: relative;
  top: 45px;
  color: white;
}

.header-delete-button {
  text-decoration: none;
  color: white;

  &:hover {
    color: #287ca6;
  }
}

.header-create-button {
  text-decoration: none;
  color: #FADA51;
  &:hover {
    color: #287ca6;
  }
}

.modal-button {
  font-family: var(--bs-body-font-family);
  text-decoration: none;
  color: #FADA51;
  border: 0;
  background-color: transparent;
  &:hover {
    color: #287ca6;
  }
}

.header-break {
  color: white;
  margin-top: 0px;
  margin-left: 13px;
  margin-right: 13px;
  border-top: 1px solid white;
}
