.modal-content {
  border-radius: 3%;
  color: white;
  background-color: #272934;
  border: 2px solid #287ca6;
}

.btn-modal-delete {
  background-color: #23303e;
}

.btn-modal-create {
  background-color: #FADA51;;
}
